.box {
  position: relative;
  padding-bottom: 41.25%;

  @media screen and (max-width: 1024px) {
    padding-bottom: 80%;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 115%;
  }

  @media screen and (max-width: 480px) {
    padding-bottom: 150%;
  }

  &__content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    @media screen and (max-width: 480px) {
      align-items: center;
    }

    &__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

    }
  }

  &__img {
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 60px 0 0;
    max-width: 300px;
    height: 100%;

    @media screen and (max-width: 480px) {
      margin: 0;
      padding: 10px;
    }
  }

  &__summary {

    margin-bottom: 50px;

    & .summary {
      align-self: flex-start;
    }

    @media screen and (max-width: 480px) {
      & .summary {
        margin-right: 0;
      }
    }
  }
}



.react-parallax-content {
  height: 100%;
}